.benchmark-name {
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 20px 0 0;
    font-weight: 600;
    text-transform: uppercase;
}

p.benchmark-toggle-btn {
    display: none;
    margin: 20px 0 0;
}

span.benchmark-toggle-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.benchmark-toggle-btn .mat-slide-toggle {
    vertical-align: middle;
}