<mat-tab-group>
    <mat-tab label="% Return">
        <mat-tab-group class="mat-inner-group">
            <mat-tab label="CUMALATIVE">
                <app-performance-graph></app-performance-graph>
            </mat-tab>
            <mat-tab label="ANNUALIZED"></mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="$ Market Value">
        <mat-tab-group class="mat-inner-group">
            <mat-tab label="Market Value 1">
            </mat-tab>
            <mat-tab label="Market Value 2">

            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>

<div *ngFor = "let branch of branches">
        <app-branch-performance
        [branchPassed] = branch></app-branch-performance>
</div>