.mat-tab-labels {
	justify-content: center;
}
.mat-tab-group.mat-primary {
	.mat-ink-bar {
		background-color: #2275d3;
		height: 5px;
	}
}
.mat-tab-nav-bar.mat-primary {
	.mat-ink-bar {
		background-color: #2275d3;
		height: 5px;
	}
}
.mat-tab-label {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #6f6f6f !important;
	text-transform: uppercase;
	opacity: 1 !important;
	min-width: 184px !important;
}
.mat-tab-label-content {
    font-size: 18px;
    color: #000;
	line-height: 22px;
	font-family: 'PT Sans', sans-serif;
}
.gray-icon-new {
    background: url(../../assets/images/rounded-info-gray.png) no-repeat center center;
	color: transparent;
	position: absolute;
	right: 20px;
	top: 18px;
	z-index: 9;
}
.mat-tab-label-active {
	font-weight: 700;
	color: #000;
}
.mat-inner-group {
	.mat-tab-label {
		height: 59px;		
		.mat-tab-label-content {
			font-weight: 500;
			color: #000;
			line-height: 17px;
			font-size: 16px;
			font-family: 'PT Sans', sans-serif;
		}
	}
	.mat-tab-label-active {
		background: #f8f9fa;
	}
	.mat-tab-labels {
		background: #efefef;
		height: 59px;
		position: relative;
	}
	.mat-ink-bar {
		display: none;
	}
}
.mat-tab-header {
	border-bottom: none;
}
.mat-tab-nav-bar {
	border-bottom: none;
}
.performance-branch-container {
	max-width: 1200px;
	margin: 0 auto 200px auto;
	display: flex;
	.ng-star-inserted {
		flex: 1;
		mat-card.mat-card {
			display: block;
			text-align: center;
			box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.18);
			border-radius: 1.23px;
			background: #fff;
			h4 {
				font-size: 16.07px;
				font-weight: 600;
				text-transform: uppercase;
				display: block;
				line-height: 19px;
				margin-bottom: 9px;
				font-family: 'PT Sans', sans-serif;
				color: #000;
			}
			p {
				font-size: 17.02px;
				line-height: 20px;
				font-weight: 600;
				text-transform: uppercase;
				display: block;
				font-family: 'PT Sans', sans-serif;
			}
		}
	}
}
@media (max-width: 767px) {
	.performance-branch-container {
		margin: 0 auto 50px auto;
		display: block;
		.ng-star-inserted {
			display: inline-block;
			width: 49%;
			vertical-align: top;
			mat-card.mat-card {
				p {
					display: block;
				}
			}
		}
	}
	.mat-tab-label-content {
		font-size: 14px !important;
	}
	.mat-tab-label {
		min-width: 1px !important;
		width: 50%;
		padding: 0 !important;
	}
	.gray-icon-new {
		right: 3px;
	}
}
