<mat-tab-group class="mat-label-head">
  <mat-tab>
    <ng-template mat-tab-label>
      % Return
    </ng-template>
    <mat-icon matTooltip="Info about the action" [ngStyle]="{'cursor': 'pointer'}" class="gray-icon-new">info</mat-icon>
    <mat-tab-group class="mat-inner-group">
      <mat-tab label="CUMALATIVE">
        <app-performance-graph></app-performance-graph>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> ANNUALIZED
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab class="mat-label-head" label="$ Market Value">
    <mat-tab-group class="mat-inner-group">
      <mat-tab label="Market Value 1">
      </mat-tab>
      <mat-tab label="Market Value 2"></mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>