.mat-tab-labels {
    justify-content: center;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #2275d3;
    height: 4px;
}

.mat-tab-label {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #6f6f6f;
    text-transform: uppercase;
    opacity: 1 !important;
}

.mat-tab-label-active {
    font-weight: 700;
    color: #000;
}

.mat-inner-group .mat-tab-label {
    font-weight: 500;
    color: #000;
    line-height: 17px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.mat-inner-group .mat-tab-label-active {
    background: #f8f9fa;
}

.mat-inner-group .mat-tab-labels {
    background: #efefef;
}

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: none;
}

.mat-inner-group .mat-ink-bar {
    display: none;
}

.performance-branch-container {
    max-width: 1200px;
    margin: 0 auto 200px auto;
    display: flex;
}

.performance-branch-container .ng-star-inserted {
    flex: 1;
}

.performance-branch-container .ng-star-inserted mat-card.mat-card {
    display: block;
    text-align: center;
    box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.18);
    border-radius: 1.43px;
    background: #fff;
}

.performance-branch-container .ng-star-inserted mat-card.mat-card h4 {
    font-size: 16.07px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    line-height: 19px;
    margin-bottom: 9px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
}

.performance-branch-container .ng-star-inserted mat-card.mat-card p {
    font-size: 17.02px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-family: 'PT Sans', sans-serif;
}


@media (max-width: 767px) {
    .performance-branch-container {
        margin: 0 auto 50px auto;
        display: block;
    }
    .performance-branch-container .ng-star-inserted {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
    .performance-branch-container .ng-star-inserted mat-card.mat-card p {
        display: block;
    }
}