<header>
    <div class="header-wrapper">
        <div class="header-left">
            <a class="mobile-trigger"><span></span></a>
            <a class="logo"><img src="assets/images/pnc-logo.jpg" /></a>
            <a class="wealth-insight">Wealth Insight</a>
        </div>
        <div class="header-right">
            <a class="setting"><i class="material-icons">settings</i></a>
        </div>
    </div>
    <div class="header-bottom-wrapper">
        <a class="menu-trgger">Menu <i class="material-icons">expand_more</i></a>
    </div>
</header>