<mat-accordion>
        <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
            <h4><mat-icon>add</mat-icon> Important legal disclosure and information</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p> First Disclosure</p>
            <p> Second Disclosure</p>
            <p> Third Disclosure</p>
            <p> Fourth Disclosure</p>
        </div>
        </mat-expansion-panel>
    </mat-accordion>