.discloser-container {
    max-width: 1300px;
    margin: 0 auto 35px auto;
}

.discloser-container mat-panel-title.mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.discloser-container mat-icon.mat-icon.material-icons {
    vertical-align: middle;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}

mat-icon.mat-icon.material-icons.minimize-class {
    line-height: 19px !important;
}