<div class="discloser-container">
    <mat-accordion>
        <mat-expansion-panel hideToggle="true" (opened)="showDisclosure()" (closed)="showDisclosure1()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>
                        <mat-icon [ngClass]="(icon_expand == 'minimize') ? 'minimize-class': '' ">{{ icon_expand }}</mat-icon>
                        Important legal disclosure and information
                    </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p> First Disclosure</p>
                <p> Second Disclosure</p>
                <p> Third Disclosure</p>
                <p> Fourth Disclosure</p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>