<div class="main-cart-wrapper">
  <mat-card>
    <mat-card-content>
      <div class="filter-wrapper">
        <div class="filter-left-col">
          <h4>Performance</h4>
          <p>Net of Fees <sub>*</sub>
            <mat-icon class="info-icon" matTooltip="Info about the action" [ngStyle]="{'cursor': 'pointer'}">info</mat-icon>
          </p>
        </div>
        <div class="filter-right-col">
          <div class="year-filter-info">
            <mat-form-field class="year-select">
              <mat-select [(value)]="selectedDefault.value" (selectionChange)="selectionChanged($event.value)">
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{ option.displayValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <span class="year-filter-info">
              <mat-icon class="info-icon" matTooltip="Info about the action" [ngStyle]="{'cursor': 'pointer'}">info</mat-icon>
            </span>
          </div>
          <div class="year-filter-value">
            <span>From 3/1/2017 to 2/1/2018</span>
          </div>
        </div>
      </div>
      <div class="filter-wrapper last">
        <div class="filter-left-col" *ngFor = "let percent of showAverage">
          <p class="net-fee" [ngStyle] = "{'backgroundColor': percent[1]}">{{ percent[0] }}%</p>
        </div>
        <div class="filter-right-col">
          <span class="aggregate-info">
            <mat-icon class="info-icon" matTooltip="Info about the action" [ngStyle]="{'cursor': 'pointer'}">info</mat-icon>
          </span>
          <span class="name">Aggregate</span>
          <span class="filter-toggle-btn">
            <mat-slide-toggle></mat-slide-toggle>
          </span>
        </div>
      </div>

      <div id="chart"></div>
      <app-performance-list (selectedItem)="itemSelected($event)" (itemChecked)="checkedItem($event)" (selectItemDis)="itemSelectedDis($event)"></app-performance-list>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Compare with your target allocation</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="details-tiles-container">
            <div *ngFor="let item of items; let i = index" class="details-tiles" [ngClass]="(itemSelectedDisVariable) ? 'add-another-class': ''">
              <app-performance-selected-item [itemSelected]=item [index]=i>
              </app-performance-selected-item>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>

<div class="performance-branch-container">
  <div *ngFor="let branch of branches">
    <app-branch-performance [branchPassed]=branch></app-branch-performance>
  </div>
</div>

<div>
  <app-legal-disclosure></app-legal-disclosure>
</div>