.main-cart-wrapper {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    max-width: 1500px;
    margin: 30px auto 30px auto;
    position: relative;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
    padding: 24px 38px 35px 38px;
}

.filter-wrapper {
    width: 100%;
}

.filter-left-col {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.filter-right-col {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: right;
}

.filter-left-col h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    margin: 0 0 15px;
}

.filter-left-col p {
    margin: 0;
    color: #333333;
    font-size: 17px;
    line-height: 20px;
}

.filter-wrapper .mat-icon {
    vertical-align: middle;
}

.filter-left-col p .mat-icon {
    margin-left: 10px;
}

.gray-color {
    color: #ccc;
}

.year-select .mat-form-field-infix {
    border: 1px solid #333;
    text-align: right;
    color: #000;
    height: 40px;
    line-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-select {
    font-family: 'PT Sans', sans-serif;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #000;
    padding-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
}

span.year-filter-info {
    position: absolute;
    right: 35px;
    top: 32px;
}

.year-filter-value {
    margin-top: -8px;
    color: #333;
    font-size: 14px;
}

.filter-wrapper:first-child {
    margin-bottom: 25px;
}

.filter-wrapper.last {
    margin-bottom: 35px;
}

p.net-fee {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    min-width: 150px;
}

p.net-fee::after {
    content: '';
}

p.net-fee::after {
    content: '';
    height: 7px;
    width: 110px;
    position: absolute;
    display: block;
    left: 0;
    background: #2275d3;
    bottom: -18px;
    z-index: 9;
}

span.name {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    vertical-align: super;
}

.mat-slide-toggle-bar {
    background-color: #fff;
    border: 1px solid #dedede;
}

span.aggregate-info {
    vertical-align: super;
}

.mat-slide-toggle-label .mat-slide-toggle-bar {
    position: relative;
    width: 50px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 15px;
}

.mat-slide-toggle-thumb-container .mat-slide-toggle-thumb {
    height: 27px;
    width: 27px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #2275d3;
    right: -6px;
    position: relative;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(34, 117, 211, 0.4);
}

.mat-slide-toggle-thumb-container {
    top: -2px;
}

.details-tiles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
    box-shadow: none;
    background: #f8f8f8;
    padding-bottom: 20px;
    padding-top: 10px;
}
mat-panel-title.mat-expansion-panel-header-title {
    color: #000;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
}

mat-expansion-panel.mat-expansion-panel {
    box-shadow: none;
    background: #f8f8f8;
}

.mat-expansion-panel-header .mat-expansion-indicator::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    vertical-align: middle;
}

.mat-expansion-panel-header .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: #000;
}

.details-tiles {
    margin-bottom: 35px;
}

.main-cart-wrapper mat-card.mat-card {
    box-shadow: none !important;
}