<div class="benchmarks-wrapper">
    <div class="benchmarks-container">
        <h4>Pnc Blended Benchmarks
            <mat-icon class="info-icon">info</mat-icon>
        </h4>
    </div>
    <div class="show-item-wrapper">
        <div *ngFor="let item of items; let i = index" class="show-items">
            <app-performance-item [itemPassed]=item [index]=i (selectedItem)="selectThisItem($event)" (checkedItem)="checkedItem($event)"
                (selectedItemToDisplay)="itemSelectedToDisplay($event)"></app-performance-item>
        </div>
    </div>
</div>